@import "./base.less";

.cardstarItem3 {width:100vw; background-color: #ffffff;display: flex;flex-direction: column;}
.cardstarItem3Banner1 {
   width: 50%;
   height: 0;
   padding-bottom: 81.25%;
   background: url("../images/teach/cardstar/item3_banner1.png");
   background-size: cover;
}

.cardstarItem3FlexRow {
   flex-direction: row;
   display: flex;
   flex: 1;
}
.cardstarItem3FlexCenter {
   flex:1;
   justifyContent:'center';
   alignItems:'center';
   display: flex;
   flex-direction: column;
}

.cardstarItem3ThemeWord {
   color: #7B5EA5;
   font-size: 18px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.cardstarItem3ThemeWordLarge {
   color: #7B5EA5;
   font-size: 34px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.cardstarItem3BlackWord {
   color: black;
   font-size: 18px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.cardstarItem3BlackWordBig {
   color: black;
   font-size: 30px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}


.cardstarItem3Back {
   width: 30px;
   height: 30px;
   background: url("../images/teach/cardstar/back.png");
   background-size: cover;
   cursor: pointer;
}

.cardstarItem3Navigate {
   flex-direction: row;
   display: flex;
   flex: 1;
   background-color: #7B5EA5;
   padding-top:10px;
   padding-bottom:10px;
   justify-content: center;
   align-items: center;
}

.cardstarItem3WhiteTitle {
   color: white;
   font-size: 16px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.cardstarItem3WhiteTitleBig {
   color: white;
   font-size: 20px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.cardstarFitContainer {
   display: flex;
   flex-direction: column;
   align-self: center;
   align-items: center;
   width: 80.5%;

}
