@import "./base.less";

.cardstone {width:100vw; background-color: #ffffff;display: flex;flex-direction: column;}
.cardstoneBanner1 {
   width: 100vw;
   padding-bottom: 18.47vw;
   height: 0;
   background: url("../images/teach/cardstone/banner1.png");
   background-size: cover;
}
.cardstoneBanner2 {
   width: 100%;
   padding-bottom: 66.12%;
   height: 0;
   background: url("../images/teach/cardstone/banner2.png");
   background-size: cover;
   margin-top: 20px;
}

.cardstoneBanner3 {
   width: 100%;
   padding-bottom: 42.7%;
   height: 0;
   background: url("../images/teach/cardstone/banner3.png");
   background-size: cover;
}

.cardstoneBanner4 {
   width: 81.5%;
   height: 0;
   padding-bottom: 88.35%;
   background: url("../images/teach/cardstone/banner4.png");
   background-size: cover;
   margin-bottom: 80px;
}

.cardstoneBanner5 {
   width: 100%;
   padding-bottom: 48%;
   height: 0;
   background: url("../images/teach/cardstone/banner5.png");
   background-size: cover;
}

.cardstoneBanner6 {
   width: 50%;
   height: 0;
   padding-bottom: 41.2%;
   background: url("../images/teach/cardstone/banner6.png");
   background-size: cover;
   margin-left: 5%;
}

.cardstoneBanner7 {
   width: 100%;
   padding-bottom: 59.5%;
   height: 0;
   background: url("../images/teach/cardstone/banner7.png");
   background-size: cover;
}

.cardstoneBanner8 {
   width: 100%;
   padding-bottom: 47.3%;
   height: 0;
   background: url("../images/teach/cardstone/banner8.png");
   background-size: cover;
}

.cardstoneLabel {
   width: 200px;
   height: 83px;
   background: url("../images/teach/cardstone/label1.png");
   background-size: cover;
}

.cardstoneFlexRow {
   flex-direction: row;
   display: flex;
   flex: 1;
   width: 100%;
}


.cardstoneBlackTitle {
   color: black;
   font-size: 40px;
   white-space: pre-wrap;
   font-family: "HYCHAOJIZHANJIAW";
}


.cardstoneThemeWordBig {
   color: #7B5EA5;
   font-size: 40px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.cardstoneThemeWordSmall {
   color: #7B5EA5;
   font-size: 14px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.cardstoneThemeWord {
   color: #7B5EA5;
   font-size: 18px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.cardstoneFitContainer {
   display: flex;
   flex-direction: column;
   align-self: center;
   align-items: center;
   width: 73%;
}

.cardstoneMore {
   padding: 5px 20px 5px 20px;
   border-radius: 5px;
   background-color: #7B5EA5;
   color: white;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   right: 2.84vw;
   margin-top: 30px;
}
