@import "./base.less";

.diy {width:100vw; background-color: #ffffff;display: flex;flex-direction: column;}
.diyBanner1 {
   width: 100vw;
   height: 23.34vw;
   background: url("../images/teach/diy/banner1.png");
   background-size: cover;
}

.diyFitContainer {
   flex: 1;
   flex-direction: row;
   display: flex;
   align-self: center;
   width: 60%;
}

.diyBanner3 {
   width: 50%;
   height: 0;
   padding-bottom: 70.7%;
   background: url("../images/teach/diy/banner3.jpg");
   background-size: cover;
}

.diyBanner4 {
   width: 50%;
   height: 0;
   padding-bottom: 70.7%;
   background: url("../images/teach/diy/banner4.jpg");
   background-size: cover;
}

.diyFlexRow {
   flex-direction: row;
   display: flex;
   flex: 1;
}

.diyDescContainer {
   flex-direction: column;
   display: flex;
   flex: 1;
   width: 38.7%;
   align-self: center;
}

.diyThemeWordSmall {
   color: #7B5EA5;
   font-size: 12px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.diyThemeWord {
   color: #7B5EA5;
   font-size: 18px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}
.diyThemeWordBig {
   color: #7B5EA5;
   font-size: 22px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}
