
.footer{
  width: 100%; display:flex;flex-direction: column;align-items: center;justify-content:center;color: #101010;font-size: 16px;margin-bottom: 10px;
  .logodiv {
    width: 100%; display:flex;flex-direction: row;align-items: center;justify-content:center;
    .logo1 {
      width: 60px;height: 60px;background: url("../images/enter/bilibili.png");background-size: contain;
    }
    .logo2 {
      width: 60px;height: 60px;background: url("../images/enter/weibo.png");background-size: contain;margin-left: 60px;
    }
    .logo3 {
      width: 60px;height: 60px;background: url("../images/enter/weixin.png");background-size: contain;margin-left: 60px;
    }
    .logo4 {
      width: 60px;height: 60px;background: url("../images/enter/douyin.png");background-size: contain;margin-left: 60px;
    }
  }
  .line1 {
    width: 700px;height:1px;background-color: #000000;margin-top:20px;
  }
  .line2 {
    width: 580px;height:1px;background-color: #000000;margin-top:20px;margin-bottom: 20px;
  }

}
