
.header{ height: 58px; width: 100%; display:flex;flex-direction: row;align-items: center;color: #101010;background-color: #7B5EA5;}
.logo {background: url(../images/enter/logo.png);background-size: cover;height: 45px;width: 217px;margin-left: 10px; }
