@import "./base.less";

.letterworm {width:100vw; background-color: #ffffff;display: flex;flex-direction: column;}
.letterwormBanner1 {
   width: 100vw;
   height: 23.44vw;
   background: url("../images/teach/letterworm/banner1.png");
   background-size: cover;
}

.letterwormBanner2 {
   width: 100%;
   height: 0;
   padding-bottom: 44.8%;
   background: url("../images/teach/letterworm/banner2.png");
   background-size: cover;
   margin-top: 10%;
}

.letterwormBanner3 {
   width: 100%;
   height: 0;
   padding-bottom: 44.18%;
   background: url("../images/teach/letterworm/banner3.png");
   background-size: cover;
   margin-top: 10%;
   margin-bottom: 100px;
}

.letterwormThemeTitle {
   color: #7B5EA5;
   font-size: 60px;
   font-family: "HYCHAOJIZHANJIAW";
}

.letterwormFlexRow {
   flex-direction: row;
   display: flex;
   flex: 1;
}


.letterwormWordLeft {
   width: 30vw;
   justify-content: center;
   align-items: center;
}


.letterwormThemeSmallWord {
   color: #7B5EA5;
   font-size: 12px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.letterwormThemeWord {
   color: #7B5EA5;
   font-size: 20px;
   white-space: pre-wrap;
   font-family: "msyhbd";
}

.letterwormFitContainer {
   display: flex;
   flex-direction: column;
   position:relative;
   align-self: center;
   width: 61.82%;
   justify-content: center;
}

.letterwormMore {
   padding: 5px 20px 5px 20px;
   border-radius: 5px;
   background-color: #7B5EA5;
   color: white;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   right: 2.84vw;
   margin-top: 80px;
}
