.preview {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .water {
    background:url(../images/water.png) no-repeat;
    background-size: contain;
    opacity: 0.3;
    width: 50vw;
    height: 13vw;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:60%;
    z-index: 99999;;
  }

  .media {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: contain;
    background: black no-repeat center;
    video::-webkit-media-controls-download-button {
      display: none !important;
    }
    video::-internal-media-controls-download-button {
      display: none !important;
    }
  }

}
