.search {width:100%; background-color: #fff;display: flex;flex-direction: column;}
//.search::-webkit-scrollbar {
//  display: none
//}
.searchBody{width:100%; background-color: #fff;display: flex;flex-direction: column;align-items: center;justify-content: center;
  .logo {height: 80px;width: 297px;background: url("../images/search/logo.png"); background-size: contain;margin-top: 100px;}
  .searchArea {position: relative;margin-top: 40px;width: 500px;display: flex;align-items: center;
    .inputbox {font-size:16px;border: #999999 1px solid;border-radius: 8px;width: 500px;height: 60px;padding-left: 10px;padding-right:35px;outline: none;color:#333333;}
    .searchicon {cursor: pointer;background: url("../images/enter/search.png"); width: 30px;height: 30px;padding:5px;background-size: cover;position: absolute;right: 10px;}
  }
  .help {position: absolute;right: 20px;bottom: 20px;font-size: 16px;color:#000000;}
}
.advertContainer {flex-direction:row;width:100%;display:flex;justify-content:center;align-items: center;margin-top: 80px;margin-bottom:200px;position:relative;
  .advert1 {cursor:pointer;background: url("../images/enter/advert1.jpg") no-repeat; width: 400px;height:400px;background-size: contain}
  .advert2 {cursor:pointer;background: url("../images/enter/advert2.jpg") no-repeat; width: 400px;height:400px;background-size: contain;margin-left: 50px;}
}
.minicodeContainer {z-index:999;position:absolute;display:flex;flex-direction: column;align-items: center;justify-content:center;width: 100%;height: 100%;background: rgba(0,0,0,0.8);}
.minicodeImg {background: url('../images/enter/minicode.png') no-repeat; width: 200px;height: 200px;background-size: contain}
.minicodeTip {font-size: 16px;color:#333333;margin: 20px;color: white;}
