@r1000height: 100vh;

body .ant-modal .ant-modal-body{max-height: calc(~"@{r1000height} * 0.9")}
.base-btn{color: white;font-size: 14px;background-color:#A49BC4;border-radius: 50px;border:none;}
.upload-box{background: white;display: flex;flex-direction: column;position: relative;width: calc(~"@{r1000height} * 1.24");}
.upload-header{font-size: 16px;color: black;margin-bottom: 20px;font-weight: bold;}
.upload-body{display: flex;flex-direction: row;}
.upload-img-box{display: flex;flex-direction: column;align-items: center;position: relative;width: calc(~"@{r1000height} * 0.4"); height: calc(~"@{r1000height} * 0.6")}
.upload-img-dash{display: flex;flex-direction: column;align-items: center;justify-content: center;border: #A49BC4 1px dashed;position: absolute;object-fit: contain;object-position: center;width: calc(~"@{r1000height} * 0.4"); height: calc(~"@{r1000height} * 0.6")}
.upload-img-tip{color: #333333;font-size: 12px;margin-top: 10px;margin-left: calc(~"@{r1000height} * 0.05");}
.upload-history-img-box{display: flex;flex-direction: column;max-height: calc(~"@{r1000height} * 0.6"); margin-left: calc(~"@{r1000height} * 0.04");}
.upload-history-img-title{color: black; font-size: 14px;margin-bottom: 10px;}
.upload-history-img-wrap{display: flex;flex-direction: row;flex-wrap: wrap;overflow: scroll;width: calc(~"@{r1000height} * 0.8");}
.upload-history-img-item-box{display: flex;flex-direction: column;margin-right: 20px;align-items: center;}
.upload-history-img{object-fit: contain;object-position: center;width: calc(~"@{r1000height} * 0.15");height: calc(~"@{r1000height} * 0.15");}
.upload-history-img-name{color: #333333;font-size: 10px;margin-top: 10px;margin-bottom: 5px;width: 100px;}
.upload-history-img-btn-box{margin-bottom: 15px;}
.upload-history-img-btn{font-size: 10px;padding: 4px 6px;}
.upload-footLine{height: 1px;width: 100%;background: #eeeeee;margin-bottom: 15px;margin-top: 10px;}
.upload-footer{display: flex;flex-direction: row;justify-content: flex-end;align-items: center;}
.upload-btnDrawWrap{width: 100px;margin-right: 20px;}
.upload-btnNext{width: 100px;}
.upload-btnUpload{width: 100px;}